
<script src="/js/checkpass.js" type="text/javascript" charset="utf-8"></script>

<h2 class="page-header">Upload a Photo</h2><br>

<a href="/stadiums/{{stadiumName}}/{{sectionNumber}}"><button class="btn btn-dark btn-sm">Go Back</button></a>


<form class="form-signin" method="post" id="userUpload" action="/stadiums/{{stadiumName}}/{{sectionNumber}}/upload" enctype="multipart/form-data">
  <div class="form-group">
    <label for="seatRow">Row:</label>
    <input type="text" id="seatRow" class="form-control" name="seatRow" required>
    <label for="seatNumber">&nbsp;&nbsp;&nbsp;Number:</label>
    <input type="text" id="seatNumber" class="form-control" name="seatNumber" required>
  </div>

Rank:
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-dark">
    <input type="radio" name="rank" value="1" id="rank1"> 1
  </label>
  <label class="btn btn-outline-dark">
    <input type="radio" name="rank" value="2" id="rank2"> 2
  </label>
  <label class="btn btn-outline-dark">
    <input type="radio" name="rank" value="3" id="rank3"> 3
  </label>
  <label class="btn btn-outline-dark">
    <input type="radio" name="rank" value="4" id="rank4"> 4
  </label>
  <label class="btn btn-outline-dark">
    <input type="radio" name="rank" value="5" id="rank5"> 5
  </label>
</div>
<div class="form-group">
  <label for="userComment">Comment:</label>
  <textarea form="userUpload" class="form-control" rows="3" id="userComment" name="userComment"></textarea>
</div> 
<input type="file" id="userFile" name="userFile" required><br /><br />
<input type="hidden" value="{{user._id}}" name="user" />
<button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Upload Photo</button>
</form>

